@model nebrangu.Models.Dispute

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dispute</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Problem)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Solution)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Solution)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SolutionScore)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Buyer)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seller)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Problem.Name)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Solution.Name)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SolutionScore)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Buyer.Name)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seller.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
