@model IEnumerable<nebrangu.Models.Dispute>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Problem)
            </th>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.Solution)
            </th>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.Solution)
            </th>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.SolutionScore)
            </th>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.Buyer)
            </th>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.Seller)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Problem.Name)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Solution.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SolutionScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Buyer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seller.Name)
                </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
